In [4]:
import pandas as pd 
import os 
import glob
import re 
import numpy as np

In [17]:
max_df=pd.DataFrame(np.zeros((210,2)),columns=['front','back'])
for i in range(210):
    image_path=glob.glob(rf'C:\Users\higuchi\Desktop\LAB\201906_\segmentation\data\image\case_00{str(i).zfill(3)}\*.mha')
    label_path=glob.glob(rf'C:\Users\higuchi\Desktop\LAB\201906_\segmentation\data\label\case_00{str(i).zfill(3)}\*.mha')
    
    label_files=[os.path.basename(path) for path in label_path]
    front_list,back_list=[],[]
    for label in label_files:
        if label.split('_')[0]=='back':
            back_list.append(int(label.split('_')[1]))
        else:
            front_list.append(int(label.split('_')[1]))
    
    try:
        max_df.iloc[i,0]=max(front_list)
        max_df.iloc[i,1]=max(back_list)    
    except:
        max_df.iloc[i,0]=np.nan
        max_df.iloc[i,1]=np.nan

In [3]:
path='back_019_392_image.mha'
path.split('_')

['back', '019', '392', 'image.mha']

In [20]:
max_df.isnull().sum()

front    6
back     6
dtype: int64

In [82]:
for idx in max_df2['index']:
    print(idx)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
145
146
147
148
149
150
151
152
153
154
155
156
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209

In [85]:
new_df=pd.concat([new_df,max_df2['index']],axis=1)
new_df.to_csv('0701max_slice2.csv')

In [33]:
new_df=pd.concat([df,max_df2],axis=1)

In [63]:
import json
json_path = json.load(open('../setting.json'))
D_num = 1

# vol_path = json_path['dataset_path']['image']
# seg_path = json_path['dataset_path']['label']


image_list=glob.glob('../data/image/case_00000/\Aback.*')
label_list=glob.glob('../data/label/case_00000/\Aback.*')

In [73]:
d_num=3
%%time
for d in range(1,d_num+1):
    for cid in new_df['index'].astype(uint8):
        front1=int(new_df['front'])//d_num
        back1=int(new_df['front'])//d_num
        
        for i in range(front1):
            a=[p for p in glob.glob(f'../data/image/case_00{str(cid).zfill(3)}/*') if re.search((f'back_{str(i).zfill(3)}'),p)]
            
            
        for i in range(back1):
            a=[p for p in glob.glob(f'../data/image/case_00{str(cid).zfill(3)}/*') if re.search((f'back_{str(i).zfill(3)}'),p)]
            
        
        for i in range(front1,front1*2):
            a=[p for p in glob.glob(f'../data/image/case_00{str(cid).zfill(3)}/*') if re.search((f'back_{str(i).zfill(3)}'),p)]
        
        for i in range(back1,back1*2):
            a=[p for p in glob.glob(f'../data/image/case_00{str(cid).zfill(3)}/*') if re.search((f'back_{str(i).zfill(3)}'),p)]

Wall time: 14.1 s

In [99]:
new_df=pd.read_csv('../0701max_slice2.csv',index_col=0,header=0)
# a=[p for p in glob.glob(f'../data/image/case_00{str(cid).zfill(/3)}/*') if re.search((f'back'),p)]

In [120]:
new_df['index'][:100]

0       0
1       1
2       2
3       3
4       4
5       6
6       7
7       8
8       9
9      10
10     11
11     12
12     13
13     14
14     15
15     16
16     17
17     18
18     19
19     20
20     21
21     22
22     23
23     24
24     25
25     26
26     27
27     28
28     29
29     30
     ...
70     72
71     73
72     74
73     75
74     76
75     77
76     78
77     79
78     80
79     81
80     82
81     83
82     84
83     85
84     86
85     87
86     88
87     89
88     90
89     91
90     92
91     93
92     94
93     95
94     96
95     97
96     98
97     99
98    100
99    101
Name: index, Length: 100, dtype: int64

In [112]:
list1,list2,list3=[],[],[]
for cid in new_df['index'][:140]:
    front_list=[p for p in glob.glob(f'../data/image/case_00{str(cid).zfill(3)}/*') if re.search((f'front'),p)]
    back_list=[p for p in glob.glob(f'../data/image/case_00{str(cid).zfill(3)}/*') if re.search((f'back'),p)]  
    front_list1=front_list[:len(front_list)//3]
    front_list2=front_list[len(front_list)//3:2*len(front_list)//3]
    front_list3=front_list[2*len(front_list)//3:]
    
    back_list1=back_list[:len(back_list)//3]
    back_list2=back_list[len(back_list)//3:2*len(back_list)//3]
    back_list3=back_list[2*len(back_list)//3:]
    
    list1+=front_list1+back_list1
    list2+=front_list2+back_list2
    list3+=front_list3+back_list3

In [118]:
with open('list1.txt',mode='w') as f:
    for row in list1:
        f.write(row)
        
with open('list2.txt',mode='w') as f:
    for row in list2:
        f.write(row)

with open('list3.txt',mode='w') as f:
    for row in list3:
        f.write(row)

In [117]:
len(list3)

13623

In [97]:
new_df['index']

     index  index
0        0      0
1        1      1
2        2      2
3        3      3
4        4      4
5        6      6
6        7      7
7        8      8
8        9      9
9       10     10
10      11     11
11      12     12
12      13     13
13      14     14
14      15     15
15      16     16
16      17     17
17      18     18
18      19     19
19      20     20
20      21     21
21      22     22
22      23     23
23      24     24
24      25     25
25      26     26
26      27     27
27      28     28
28      29     29
29      30     30
..     ...    ...
174    180    180
175    181    181
176    182    182
177    183    183
178    184    184
179    185    185
180    186    186
181    187    187
182    188    188
183    189    189
184    190    190
185    191    191
186    192    192
187    193    193
188    194    194
189    195    195
190    196    196
191    197    197
192    198    198
193    199    199
194    200    200
195    201    201
196    202    202
197    203    203
198    204    204
199    205    205
200    206    206
201    207    207
202    208    208
203    209    209

[204 rows x 2 columns]